
.jumboContainer {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 56px);
}

.col {
    flex: 1;
    height: 100%;
    width: 50%;
}

@media screen and (min-width: 600px) {
    .jumboContainer {
        height: calc(100vh - 64px);
    }
}